.text_admin {
  border-radius: 10px;
  border: #e9ca70 5px solid;
  background-color: rgb(0,0, 0, 0.2);
  padding: 15px;
  width: 100%;
  box-shadow: 25px 40px 28px 0px rgba(0, 0, 0, 0.38);
}
.titulo_admin {
  font-size: 30px;
  font-weight: bold;
  align-items: center;
  align-content: center;
  text-align: center;
}
.admin-container-1 {
  padding: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10%;
}
